<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="font-awesome.min.css" type="text/css">
    <title>Profile- {{title}}</title>
  </head>
  <body>
    <p>Profile</p>
  </body>
</html>
